.style{margin-left: 35%;}
.spanstyle{margin-left: 10.9%;}
.spanstyle2{margin-left: 10%;}
.spanstyle3{margin-left: 10.9%;}
.spanstyle4{margin-left: 13.4%;}
.spanstyle5{margin-left: 12.7%;}
.slt{font-size: 16px;}
.slt>select
.center{margin-left: 15%}
.center>div{margin-left: 15%;}
