label{float: left;width: 128px;}
form>div{margin-top: 10px;float: left;}
textarea{width: 96%;float: left;}
form>div div{float: left;width: 228px;}
body>div{width: 40%;margin: auto;}
span{float: left;}